

.cardBg{
    background:#C16329;
    
    color:white;
    margin:15rem 1rem 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    @media screen and (max-width:700px) {
        padding:1rem;
    }

}

.h1{
    text-align:center;
    padding:1rem;
}

.ul{
    padding:2rem;

    li{
        padding:1rem;
    }


}

.p{
    padding:1rem;
}